<!-- combined_list.html -->
{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container mt-5 text-white">
    <div class="row">
        <div class="col-md-6 text-md-left text-center">
            <p class="mb-0">Welcome, {{ user.username }}</p>
        </div>
        <div class="col-md-6 text-md-right text-center">
            <!-- Logout button -->
            <form action="{% url 'user_logout' %}" method="post" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
    <hr>


    <h2 class="mt-5">Blogs</h2>
    <div class="mb-3">
        <a href="{% url 'add_blog' %}" class="btn btn-success mb-2">Add Blog</a>
    </div>
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-info">{{ blog.title }}</h5>
                    <a href="{% url 'update_blog' blog.slug %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_blog' blog.slug %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>


    <h2 class="mt-5">Projects</h2>
    <div class="mb-3">
        <a href="{% url 'add_project' %}" class="btn btn-success mb-2">Add Project</a>
    </div>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-4 text-info">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <a href="{% url 'update_project' project.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_project' project.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>


    <h2 class="mt-5">Photos</h2>
    <div class="mb-3">
        <a href="{% url 'add_photo' %}" class="btn btn-success mb-2">Add Photo</a>
    </div>
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-info">Image URL: {{ photo.image_url }}</h5>
                    <a href="{% url 'update_photo' photo.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_photo' photo.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
<hr>