{% extends 'portfolio/base.html' %}

{% block content %}
<div class="home" id="home">
    <div class="container mt-5 text-center">
        <div class="jumbotron">
            <h1>Welcome to the site, Blog by Roc</h1>
            <p>Curiosity plus courage takes you forward but be cautious enough to explore all things possible.</p>
        </div>
    </div><br>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center text-white">
                    <p>“So, here is this journal where I explore and share my passions. Tech stuff, boxing, yoga, more—you name it! The dream is to create something exciting, exchange ideas, and inspire others to pursue their interests. Cheers to that! 🌟”</p>                   
                </div>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

